/* Pseudo-classes */
#hov:hover {
    background-color: red;
    color: white;
}

#foc:focus {
    background: green;
}

#act:active {
    background: pink;
}

li:nth-child(odd) {
    background: red;
}

li:nth-child(even) {
    background: blue;
}

/* Before - After */
.exBA {
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 200px;
}

.exBA::before {
    content:"";
    display: block;
    height: 50px;
    width: 50px;
    background: red;
}

.exBA::after {
    content:"";
    display: block;
    height: 50px;
    width: 50px;
    background: blue;
}

/* Properties */
#couleur {
    background: rgba(210, 104, 219,0.1);
}

#cir {
    width: 150px;
    height: 150px;
    background: pink;
    /* border-radius: 50%; */
    /* transform: scale(2); */
    /* transform: translate(50px, 0); */
    /* transform: rotate(30deg); */
    transform: skew(20deg, 20deg);
}

/* Transitions */
.box {
    width: 200px;
    height: 200px;
    margin: 50px;
    background: cyan;
    /* transition-property: background, transform; */
    /* transition-duration: .5s; */
    /* transition-delay: 1s; */
    /* transition-timing-function: cubic-bezier(.32,1,.83,.67); */
    transition: all .5s ease-in-out;
}

.box:hover {
    background: crimson;
    transform: rotate(45deg);
}