/* Pseudo-classes */
#hov:hover{
    background-color: red;
    color: white;
}

#foc:focus {
    background: green;
}

#act:active {
    background: pink;
}

li:nth-child(odd){
    background: red;
}

li:nth-child(even){
    background: blue;
}

/* Before - After */
.exBA {
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 200px;
}

.exBA::before{
    content:"";
    display: block;
    height: 50px;
    width: 50px;
    background: red;
}

.exBA::after{
    content:"";
    display: block;
    height: 50px;
    width: 50px;
    background: blue;
}