/* Pseudo-classes */
#hov:hover{
    background-color: red;
    color: white;
}

#foc:focus {
    background: green;
}

#act:active {
    background: pink;
}

li:nth-child(odd){
    background: red;
}

li:nth-child(even){
    background: blue;
}